.midContainer {
    height: 300px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    padding: 10px;

    gap: 10px;
}

.midTitle {
    font-size: 38px;
    font-weight: bolder;

    color: var(--primary-color);
}
.midP {
    font-size: 18px;

    color: var(--primary-grey);
}
.midBtn{
    text-decoration: none;

    color: var(--primary-white);
    background-color: var(--primary-color);

    padding: 10px;

    border: 2px solid var(--primary-color);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s;

}
.midBtn:hover{
    background-color: var(--primary-white);
    border: 2px solid var(--primary-color);

    color: var(--primary-color);

    transition: 0.5s;
}

@media(width >= 1024px){
    .midContainer{
        padding: 10px 40px 10px 40px;
    }
    .midTitle{
        font-size: 60px;
        width: 350px;
    }
}
@media(width >= 1440px){
    .midContainer{
        gap: 30px;
        height: auto;
    }
    
    .midTitle{
        width: 600px;
    }
    .midP{
        font-size: 28px;
    }
    .midBtn{
        width: 227px;
        height: 40px;

        font-size: 26px
    }
}
@media(width >= 1920px){
    .midTitle{
        width: auto;
    }
}